
body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: 400;
  color: #7b0202;
  margin-bottom: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(16, 35px); 
  grid-gap: 3px; 
  max-width: 100%;
  max-height: 100vh;
  border: 1px solid #ccc;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: #ccc; 
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  display: flex;         
  justify-content: center; 
  align-items: center;  
}


.cell:hover {
  transform: scale(1.05); 
}

.cell:not(.revealed) {
  background-color: #aaa; 
} 

.cell.revealed:not(.mine) {
  background-color: #525252; 

}

.cell.flagged {
  background-color: #f6f697;
  cursor: default;
}

.cell.mine {
  background-color: #7b0202;
}


