#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 36px;
}

button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 7px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}


button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}


.board {
  width: 350px;
  height: 420px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  /* box */
  border: 2px solid rgb(164, 162, 162);
  width: 60px;
  height: 60px;
  margin: 2.5px;
  
  /* letter */
  color: black;
  font-size: 36px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
}

.correct {
  color: white;
  border-color: white;
  background-color: #6aaa64;
}

.present {
  color: white;
  border-color: white;
  background-color: #c9b458;

}

.absent {
  color: white;
  border-color: white;
  background-color: #787c7e;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}
