.table-title {
  font-weight: 700;
}

.todo-box {
  width: 60%;
  margin: 40px auto; 
  display: flex;
  justify-content: center; 
  flex-direction: column; 
}

.MuiTableCell-root {
  font-family: Arial, sans-serif;
  color: #6b6d76; 
}

.MuiTableRow-root {
  background-color: #fce4ec; 
}

.MuiTableRow-root:hover {
  background-color: #f3e5f5;
}

.MuiCheckbox-root {
  color: #b2ebf2 !important; 
}

.MuiTableSortLabel-root {
  color: #80deea; 
}

.MuiTableSortLabel-active {
  color: #aed581 !important; 
}

.MuiTableSortLabel-iconDirectionAsc {
  color: #ffcc80 !important; 
}

.MuiTableSortLabel-iconDirectionDesc {
  color: #ffab91 !important; 
}
